@using LNF.Cache;
@using LNF.Models.Data;
@using Meters.Models;

@{
    bool isAdmin = CacheManager.Current.CurrentUser.HasPriv(ClientPrivilege.Administrator);

    var menuItems = new List<MenuItem>();
    menuItems.Add(new MenuItem() { Text = "Summary", Url = Url.Content("~/yokogawa"), Tag = "summary", Visible = true });
    menuItems.Add(new MenuItem() { Text = "Reports", Url = Url.Content("~/yokogawa/reports"), Tag = "reports", Visible = true });
    menuItems.Add(new MenuItem() { Text = "Admin", Url = Url.Content("~/yokogawa/admin"), Tag = "admin", Visible = isAdmin });

}

<ul class="nav nav-tabs">
    @foreach (var m in menuItems.Where(x => x.Visible))
    {
        <li role="presentation" class="@m.GetCssClass(ViewBag.CurrentTab)"><a href="@m.Url">@m.Text</a></li>
    }
</ul>