@{
    ViewBag.Title = "Admin";
}

@Html.Partial("_YokogawaMenuPartial")

<div class="panel panel-default admin">
    <div class="panel-heading">
        <h3 class="panel-title">Administration</h3>
    </div>
    <div class="panel-body">
        <div class="form-inline">
            <div class="form-group">
                <label>Current Index:</label>
                <input type="text" style="width: 80px;" class="import-index form-control" />
                <a href="#" class="btn btn-default index-refresh">Refresh</a>
                <a href="#" class="btn btn-default index-update">Update</a>
                <a href="#" class="btn btn-default index-increment">Increment</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(".admin").each(function () {
            var $this = $(this);

            var refreshIndex = function () {
                $.ajax({
                    "url": '@Url.Content("~/api/admin/index")',
                    "method": "GET"
                }).done(function (data) {
                    $(".import-index", $this).val(data.Value);
                });
            };

            $this.on("click", ".index-refresh", function (e) {
                e.preventDefault();
                refreshIndex();
            }).on("click", ".index-update", function (e) {
                e.preventDefault();

                var val = parseInt($(".import-index", $this).val());

                if (!isNaN(val)){
                    $.ajax({
                        "url": '@Url.Content("~/api/admin/index")',
                        "method": "PUT",
                        "data": {"Value": val}
                    })
                }
            }).on("click", ".index-increment", function (e) {
                e.preventDefault();

                var val = parseInt($(".import-index", $this).val());

                if (!isNaN(val)){
                    $.ajax({
                        "url": '@Url.Content("~/api/admin/index/increment")',
                        "method": "GET"
                    }).done(function (data) {
                        $(".import-index", $this).val(data.Value);
                    });
                }
            });

            refreshIndex();
        });
    </script>
}

