/* this is for the fixed nav bar */
body {
    overflow-y: scroll;
    padding-top: 70px;
}

.summary,
.reports,
.admin {
    margin-top: 20px;
}

.chart-container {
    min-width: 500px;
}

.report-table > thead > tr > th,
.report-table > tbody > tr > td {
    text-align: right;
}
