@{
    ViewBag.Title = "Meters";
}

<h2>Available Meters</h2>

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            @Html.ActionLink("Yokogawa", "Index", "Yokogawa", null, new { @class = "list-group-item" })
        </div>
    </div>
</div>
